@import url('https://fonts.googleapis.com/css?family=Inconsolata|Questrial|Quicksand|Raleway|Yrsa');
@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: auto;


}

.App-header{
  background-color: black;
}


.App-intro {
  background-color: lightblue;
}

.title{
  color: #4a4a4a;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  padding-top: 10px;
}

.text-container{
  height: 500px;
  width: 500px;
  border: 2px solid #4a4a4a;
  text-align: left;
  flex: 1;
  align-self: center;
  padding: 10px;
  margin: 10px;
}

.content{
  height: 95%;
  padding: 1px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  overflow: auto;
}

.button{
  padding: 10px;
  margin: 5px;
}
.buttons{
  flex: 2;
  padding-left: 300px;
  
}
