@import url('https://fonts.googleapis.com/css?family=Inconsolata|Questrial|Quicksand|Raleway|Yrsa');

.App-header{
  background-color: black;
}
.links { 

    padding: 15px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    color: oldlace;

}